---
---
<div class="fixed inset-0 z-0">
  <div
    class="absolute inset-0 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(65,105,225,0.15),rgba(30,144,255,0.08),rgba(10,10,10,0.95))]"
  >
  </div>
  <div
    class="absolute inset-0 bg-gradient-to-b from-[#4169E1]/5 via-transparent to-transparent"
  >
  </div>
  <div
    class="absolute inset-0 bg-[url('/noise.png')] opacity-25 mix-blend-soft-light"
  >
  </div>
  <div
    class="absolute inset-0"
    style="background-image: linear-gradient(rgba(65,105,225,0.03) 1px, transparent 1px), linear-gradient(90deg, rgba(65,105,225,0.03) 1px, transparent 1px); background-size: 32px 32px;"
  >
  </div>
  <div
    class="absolute top-0 left-1/4 w-[500px] h-[500px] bg-[#4169E1] opacity-[0.15] blur-[128px] rounded-full"
  >
  </div>
  <div
    class="absolute bottom-0 right-1/4 w-[400px] h-[400px] bg-[#1E90FF] opacity-[0.15] blur-[96px] rounded-full"
  >
  </div>
</div>
