---
interface Props {
  title?: string;
  body?: string;
}

const { title, body } = Astro.props;
---

<>
  {title && <h2 class="text-xl font-bold mb-4 text-black/80">{title}</h2>}
  {body && <p class="text-base text-black/60">{body}</p>}
  <slot />
</>
