---
import Card from "./Card/index.astro";
---

<Card colSpan="col-span-2" rowSpan="row-span-1">
  <div class="flex flex-col md:flex-row gap-4 h-full">
    <div class="flex flex-col flex-1 justify-between gap-4">
      <div class="flex flex-col gap-2">
        <h1 class="text-3xl font-bold text-white/80">Akhil Jacob</h1>
        <p class="text-base text-white/60">
          I’m a software engineer and entrepreneur with a drive for end-to-end innovation. 
          I’ve launched AI-driven apps, built scalable backend systems, and embraced rapid iteration 
          in both startup and enterprise settings.
        </p>
      </div>
    </div>
   
  </div>
</Card>
