---
import { Icon } from "astro-icon/components";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="flex flex-col justify-center gap-4 h-full">
    <div class="flex flex-col gap-3">
      <a href="mailto:akhilcjacob.public@gmail.com" class="card-row flex items-center gap-2 text-white/60 hover:text-white/80 transition-colors">
        <Icon name="ri:mail-line" class="h-6 w-6" />
        <span>akhilcjacob.public</span>
      </a>
      <a href="https://github.com/akhilcjacob" target="_blank" class="card-row flex items-center gap-2 text-white/60 hover:text-white/80 transition-colors">
        <Icon name="ri:github-line" class="h-6 w-6" />
        <span>akhilcjacob</span>
      </a>
      <a href="https://www.linkedin.com/in/akhilcjacob" target="_blank" class="card-row flex items-center gap-2 text-white/60 hover:text-white/80 transition-colors">
        <Icon name="ri:linkedin-line" class="h-6 w-6" />
        <span>akhilcjacob</span>
      </a>
      <a 
        href="/resume.pdf" 
        target="_blank"
        class="card-row flex items-center gap-2 text-white/60 hover:text-white/80 transition-colors"
      >
        <Icon name="ri:file-download-line" class="h-6 w-6" />
        <span>Download Resume</span>
      </a>
    </div>
  </div>
</Card>
